/* --- CORES PRINCIPAIS ---
  Laranja Principal: #ED5B00
  Roxo Secundário: #4D18A3
*/

[role="main"] button,
button[class*="publish"] {
    background-color: #ED5B00 !important;
}

header[class*="AppHeader"] {
    background-color: #4D18A3 !important;
}

a[class*='CollectionTop-collectionTop-button'] {
    background-color: #4D18A3 !important;
}

header[class*="AppHeader"] button span,
a[class*='CollectionTop-collectionTop-button'] {
    color: white !important;
}

ul[class*='Collection-collection-list'] a[class*='-active'] {
    border-left-color: #ED5B00 !important;
    color: #ED5B00 !important;
}