locale: 'pt'

backend:
  name: git-gateway
  branch: main

publish_mode: editorial_workflow
media_folder: "static/img/docs"
public_folder: "/img/docs"

collections:
  - name: "tutoriais"
    label: "Tutoriais"
    folder: "docs/tutoriais"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Conteúdo", name: "body", widget: "markdown" }

  - name: "api_referencias"
    label: "API Referências"
    folder: "docs/api-referencias"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Título do Endpoint", name: "title", widget: "string" }
      - { label: "Descrição da API", name: "body", widget: "markdown" }